.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.inner {
  width: 100%;
  height: 100%;
}

.inner_editor {
  border: solid 1px red;
  height: 50%;
}

/* Mediaqueries for mobile devices */
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
}
